.demo, .demo2, .demo3{
	background: blue;
	color: white;
	padding: 30px 40px;
	margin: 30px;
	box-shadow: 0 2px 10px black;
	font-size: 30px;
	display: inline-flex;
	transform:scale(1.2);
	border: 10px solid pink;
}

